<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<main id="container"></main>
	<script id="table-template" type="text/x-handlebars-template">
		<table>
			<tbody>
				{{#each this}}
					<tr>
						<td>{{name}}</td>
						<td>{{jobTitle}}</td>
						<td><a href="{{website}}">{{website}}</a></td>
					<tr>
				{{/each}}
			</tbody>
			<thead>
				<tr>
					<td>Name</td>
					<td>Job Title</td>
					<td>Website</td>
				</tr>
			</thead>
		</table>
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.2/handlebars.js"></script>
	<script src="./main.js"></script>
</body>
</html>